body{
  margin: 0px;
  padding: 0px;
}

table{
  margin: auto;
  table-layout: fixed;
  height: 500px;
  width: 800px;
}

button{
  height: 100%;
  width: 100%;
  font-size: 40px;
}

#zero{
  width: 200%;
  background-color: red;
}

#last button{
  position: relative;
  background-color: green;
}
