body{
  margin: 0px;
  padding: 0px;
}

table{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: solid 1px;
  width: 350px;
  height: 550px;
  background-color: #17202A;
}

button{
  margin: auto;
  font-size: 25px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 30%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  align-content: center;
}

#result{
  height: 100px;
  border-bottom: solid white 100px;
  border: solid white 1px;
}
